nav ul
{
    list-style-type: none;
    width: 100%;
    text-align:center;
}

nav li, form
{
    text-align:left;
    display: inline;
}

nav
{
}

#all-data-table
{
    display: table;
    width: 100%;
}

.open
{
    float: left;
}

.category-label
{
    cursor: pointer;
}

.category-label:hover
{
    background-color:lightblue;
    color:black;
    padding:1.5em 0;
}

.category-children {
    background-color: white;
}

.levels-wrapper
{
    width: 100%;
    float: left;
}

.levels-label {
    cursor: pointer;
}

.levels-label:hover
{
    background-color: black;
    padding: 1em 0.5em;
}
.levels-row
{
    float: left;
    width: 100%;
}

.planet, .level, .type, .faction, .level-category,
.level-header, .category-header, .type-header, .faction-header, .planet-header
{
    float:left;
    padding: 0.25em 1em;
    border: 1px solid black;
    width: calc(25% - 2em - 2px);
/*    cursor: pointer; */
    background-color: #dddddd;
}

.level-header, .category-header, .type-header, .faction-header, .planet-header
{
    font-weight: bold;
    background-color: darkgrey;
}

.rotation-wrapper
{
    width: 100%;
    float: left;
}

.rotation-label
{
    border: 1px solid black;
    cursor: pointer;
}

.rotation-label:hover
{
    background-color:#999966;
    padding: 1em;
}

.item-row
{
    float: left;
    width: 100%;
}

.quantity
{
    float:left;
    border: 1px solid black;
    width: calc(3em - 2px);
    text-align: center;
}

.item, .rate, .rarity, .note
{
    float:left;
    padding: 0 1em;
    border: 1px solid black;
    cursor: pointer;
    width: calc(25% - 2em - 2px - (3em / 4));
}

.search, .planet-levels, .category-search {
    display: none;
    text-align: center;
    width: 100%;
    padding-bottom: 2em;
}

.search input, .planet-levels input, .category-search input {
    border-radius: 10px;
    background-color: #eeeeee;
    height:2em;
    text-transform: capitalize;
    border-style: groove;
    padding: 0 1em;
}

.search button, .planet-levels button, .category-search button {
    display: inline;
}

.not-found {
    text-align: center;
}

.fullsize
{
    width: calc(100% - 2em - 2px);
}

.searchable
{
    cursor: pointer;
}

.searchable:hover
{
    color: lightcyan;
    background: black;
}