* {
    background-color: white;
    font-family: Verdana,Arial,sans-serif;
    transition: padding 0.5s, background-color 0.5s, color 0.5s, border-radius 5s linear;
}

.category-label {
    font-size: large;
    color: white;
    background-color: blue;
    text-align: center;
    padding: 1em 0;
}


button
{
    background-color: gray;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 10px;
}

button:hover
{
    background-color: black;
}

.levels-label {
    font-size: larger;
    background-color: gray;
    color: white;
    padding: 0.5em;
}


.rotation-label
{
    background-color: beige;
    font-size: medium;
    padding: 0.25em 1em;
}